.UperFooter {
  background-color: #000;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.large {
  font-size: 1.9rem;
  color: #fff;
  text-align: center;
}
.smallline {
  color: rgb(200, 168, 112);
  text-align: center;
  padding-top: 7px;
  font-size: 1rem;
}

.medium {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
}

.maxWidthforpoiter {
  max-width: 1050px;
  margin: auto;
  margin-top: 4rem;
}

.boldPointer {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 0rem;
  margin-bottom: 0%;
  color: #fff;
}
